@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    color: #fff;
    font-family: "MontSerrat", sans-serif;
    transition: 0.3s ease-in-out;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #5c1c70;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
    color: #ffc55a;
    font-family: "Bubblegum Sans", cursive;
}


.turn_container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    margin-bottom: 2rem;
}

.turn_container h3 {
    font-size: 1.5rem;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn_container .turn_box {
    border: 3px solid #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn_container .turn_box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #d777f4;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border: 2px solid #fff;
}

.box {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    border: 2px solid #fff;
    font-family: "Montserrat", sans-serif;
}

.box:hover {
    background-color: #4c1187;
}

#play_again {
    background-color: #3f1751;
    padding: 15px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#play_again:hover {
    padding: 15px 40px;
    background-color: #d58d08;
    color: #141e46;
}

#results {
    color: #ffc55a;
}